<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon="/home/neil/.config/obmenu-generator/icons/59b4f6eb0bdf2786b4ce8005f895cd9c.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Terminal" icon="/home/neil/.config/obmenu-generator/icons/ae2da79c45b765b223938b2006270da9.png"><action name="Execute"><command><![CDATA[xfce4-terminal]]></command></action></item>
    <item label="Web Browser" icon="/home/neil/.config/obmenu-generator/icons/b94d18d6de00413e379e03c6fbea6556.png"><action name="Execute"><command><![CDATA[firefox]]></command></action></item>
    <item label="Run command" icon="/home/neil/.config/obmenu-generator/icons/ac98898e4deb877841ff4827fdb06f5a.png"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.679087875018926" icon="/home/neil/.config/obmenu-generator/icons/16a5bf05562ad582ede6e66b78930a8b.png" label="Accessories">
    <item label="About Xfce" icon="/home/neil/.config/obmenu-generator/icons/4bbf429a63013ff960cc976eaf939600.png"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Bulk Rename" icon="/home/neil/.config/obmenu-generator/icons/8ea1c0f2ad8f6dbfdd02894a2238e92e.png"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="compton" icon="/home/neil/.config/obmenu-generator/icons/79706a0a3833a8b5a372c19635a63d02.png"><action name="Execute"><command><![CDATA[compton --xrender-sync-fence]]></command></action></item>
    <item label="File Manager" icon="/home/neil/.config/obmenu-generator/icons/59b4f6eb0bdf2786b4ce8005f895cd9c.png"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="Leafpad" icon="/home/neil/.config/obmenu-generator/icons/f646522c4c5244610926693a4560f7e2.png"><action name="Execute"><command><![CDATA[leafpad]]></command></action></item>
    <item label="nitrogen" icon="/home/neil/.config/obmenu-generator/icons/dc07ea0146d8fe8408ee1b3a35dded2d.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Terminal Emulator" icon="/home/neil/.config/obmenu-generator/icons/ae2da79c45b765b223938b2006270da9.png"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/neil/.config/obmenu-generator/icons/8ea1c0f2ad8f6dbfdd02894a2238e92e.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
  </menu>
  <menu id="0.801917527659924" icon="/home/neil/.config/obmenu-generator/icons/014e863822026f78cdb9ba8dc9fe6266.png" label="Development">
    <item label="Qt4 Assistant" icon="/home/neil/.config/obmenu-generator/icons/c1ceff77a833e38979fdd9b972d9c20a.png"><action name="Execute"><command><![CDATA[assistant-qt4]]></command></action></item>
    <item label="Qt4 Designer" icon="/home/neil/.config/obmenu-generator/icons/1d6c43ec00e1666680dbd4984dc28583.png"><action name="Execute"><command><![CDATA[designer-qt4]]></command></action></item>
    <item label="Qt4 Linguist" icon="/home/neil/.config/obmenu-generator/icons/d8e8244c687f1523262accb7e14e3dba.png"><action name="Execute"><command><![CDATA[linguist-qt4]]></command></action></item>
    <item label="Qt4 QDbusViewer" icon="/home/neil/.config/obmenu-generator/icons/ebc865494342e369e81ce038a1afc427.png"><action name="Execute"><command><![CDATA[qdbusviewer-qt4]]></command></action></item>
  </menu>
  <menu id="0.303178295298618" icon="/home/neil/.config/obmenu-generator/icons/54ab84e1f03d0ac56bcbdb56b529d1aa.png" label="Multimedia">
    <item label="PulseAudio Volume Control" icon=""><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/home/neil/.config/obmenu-generator/icons/536fa375e9ddf3f93743c18aeecb4e9d.png"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Volume Icon" icon=""><action name="Execute"><command><![CDATA[volumeicon]]></command></action></item>
  </menu>
  <menu id="0.674515635796475" icon="/home/neil/.config/obmenu-generator/icons/fc7f293c488d74217bd8a6e660364f5b.png" label="Network">
    <item label="Avahi SSH Server Browser" icon="/home/neil/.config/obmenu-generator/icons/c3ed12f77271fab64f54519b69eb38a1.png"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/home/neil/.config/obmenu-generator/icons/c3ed12f77271fab64f54519b69eb38a1.png"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Chromium" icon="/home/neil/.config/obmenu-generator/icons/fe8cbaa1d5859e29b29c05e1c04ebc84.png"><action name="Execute"><command><![CDATA[/usr/bin/chromium]]></command></action></item>
    <item label="Firefox" icon="/home/neil/.config/obmenu-generator/icons/b94d18d6de00413e379e03c6fbea6556.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="Mail Reader" icon=""><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Web Browser" icon="/home/neil/.config/obmenu-generator/icons/26568d9c7b5bee71338200d545511b82.png"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
  </menu>
  <menu id="0.122271678305953" icon="/home/neil/.config/obmenu-generator/icons/beb05388f2175ae426a7e62048b82bf0.png" label="Settings">
    <item label="Customize Look and Feel" icon=""><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="File Manager" icon="/home/neil/.config/obmenu-generator/icons/59b4f6eb0bdf2786b4ce8005f895cd9c.png"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="Monitor Settings" icon="/home/neil/.config/obmenu-generator/icons/29d2dc103f543ad43b12aa483751610e.png"><action name="Execute"><command><![CDATA[lxrandr]]></command></action></item>
    <item label="Network Connections" icon="/home/neil/.config/obmenu-generator/icons/950c6a1aec9946d7a3718e29f7532a7d.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/home/neil/.config/obmenu-generator/icons/61f3de6fd06f9847e869878302ba1980.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Preferred Applications" icon="/home/neil/.config/obmenu-generator/icons/9778f46e9ec398491023f8c2794075c3.png"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Removable Drives and Media" icon="/home/neil/.config/obmenu-generator/icons/dc08d990510e8366c70e14d028679925.png"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="Tint2 Settings" icon="/home/neil/.config/obmenu-generator/icons/e25fa831dcfce3d855f67af87e68537f.png"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
    <item label="Xfce Terminal" icon="/home/neil/.config/obmenu-generator/icons/ae2da79c45b765b223938b2006270da9.png"><action name="Execute"><command><![CDATA[xfce4-terminal --preferences]]></command></action></item>
  </menu>
  <menu id="0.254943316787816" icon="/home/neil/.config/obmenu-generator/icons/07a6c2673bb007907992ecb8248f7208.png" label="System">
    <item label="Avahi Zeroconf Browser" icon="/home/neil/.config/obmenu-generator/icons/c3ed12f77271fab64f54519b69eb38a1.png"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Bulk Rename" icon="/home/neil/.config/obmenu-generator/icons/8ea1c0f2ad8f6dbfdd02894a2238e92e.png"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/neil/.config/obmenu-generator/icons/8ea1c0f2ad8f6dbfdd02894a2238e92e.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2" icon="/home/neil/.config/obmenu-generator/icons/83b0b3f21b72873742a7fc29d35bb049.png"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="UXTerm" icon="/home/neil/.config/obmenu-generator/icons/7c9f428f66b98fc4cd571182f645138b.png"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="Xfce Terminal" icon="/home/neil/.config/obmenu-generator/icons/ae2da79c45b765b223938b2006270da9.png"><action name="Execute"><command><![CDATA[xfce4-terminal]]></command></action></item>
    <item label="XTerm" icon="/home/neil/.config/obmenu-generator/icons/7c9f428f66b98fc4cd571182f645138b.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.0860821673616918" icon="" label="Advanced Settings">
    <item label="Conky RC" icon="/home/neil/.config/obmenu-generator/icons/c98edc5dba198d85b6881c561b6f80ac.png"><action name="Execute"><command><![CDATA[leafpad ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel" icon="/home/neil/.config/obmenu-generator/icons/c98edc5dba198d85b6881c561b6f80ac.png"><action name="Execute"><command><![CDATA[leafpad ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="0.992172889219624" icon="/home/neil/.config/obmenu-generator/icons/de06fb65215a111fae9cd956faacc2fd.png" label="Obmenu-Generator">
    <item label="Menu Schema" icon="/home/neil/.config/obmenu-generator/icons/c98edc5dba198d85b6881c561b6f80ac.png"><action name="Execute"><command><![CDATA[leafpad ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/home/neil/.config/obmenu-generator/icons/c98edc5dba198d85b6881c561b6f80ac.png"><action name="Execute"><command><![CDATA[leafpad ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu" icon="/home/neil/.config/obmenu-generator/icons/de06fb65215a111fae9cd956faacc2fd.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons" icon="/home/neil/.config/obmenu-generator/icons/de06fb65215a111fae9cd956faacc2fd.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu" icon="/home/neil/.config/obmenu-generator/icons/de06fb65215a111fae9cd956faacc2fd.png"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons" icon="/home/neil/.config/obmenu-generator/icons/de06fb65215a111fae9cd956faacc2fd.png"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache" icon="/home/neil/.config/obmenu-generator/icons/23e1d941a78bfe1c62eb26e72f030f5e.png"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.725109565994362" icon="/home/neil/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png" label="Openbox">
    <item label="Openbox Autostart" icon="/home/neil/.config/obmenu-generator/icons/c98edc5dba198d85b6881c561b6f80ac.png"><action name="Execute"><command><![CDATA[leafpad ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/neil/.config/obmenu-generator/icons/c98edc5dba198d85b6881c561b6f80ac.png"><action name="Execute"><command><![CDATA[leafpad ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/neil/.config/obmenu-generator/icons/c98edc5dba198d85b6881c561b6f80ac.png"><action name="Execute"><command><![CDATA[leafpad ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox" icon="/home/neil/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock" icon="/home/neil/.config/obmenu-generator/icons/2a084ead1ea6c44f3087e7d0e89f8b3a.png"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit" icon="/home/neil/.config/obmenu-generator/icons/5a284e6fec46e2093edaa3e4e92ae710.png"><action name="Execute"><command><![CDATA[oblogout]]></command></action></item>
  </menu>
</openbox_menu>
